<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connString"
               connectionString="Server=http://database-1.cjsu9j876srn.eu-west-1.rds.amazonaws.com/; Port=5432; Database=postgres;User Id=postgres;Password=734afuz6;" />
  </connectionStrings>
</configuration>